name: Validate Lua source code

on:
  workflow_call:
    inputs:
      lua-version:
        required: true
        type: string

jobs:
  bash-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Checkout tests
        uses: actions/checkout@v4
        with:
          repository: 2dengine/sstrict.lua
          path: __tmp

      - name: Lua 5.1 Test
        if: ${{ inputs.lua-version == '5.1' }}
        run: |
          sudo apt -y install lua5.1
          sudo apt -y install lua-filesystem
          sudo apt update
          cd "./__tmp/" && lua "./scan.lua" ".."
          if test -f "../test.lua"; then
            lua "../test.lua"
          fi
          sudo apt remove lua5.1
        
      - name: Lua 5.2 Test
        if: ${{ inputs.lua-version == '5.2' }}
        run: |
          sudo apt -y install lua5.2
          sudo apt -y install lua-filesystem
          sudo apt update
          cd "./__tmp/" && lua "./scan.lua" ".."
          if test -f "../test.lua"; then
            lua "../test.lua"
          fi
          sudo apt remove lua5.2

      - name: Lua 5.3 Test
        if: ${{ inputs.lua-version == '5.3' }}
        run: |
          sudo apt -y install lua5.3
          sudo apt -y install lua-filesystem
          sudo apt update
          cd "./__tmp/" && lua "./scan.lua" ".."
          if test -f "../test.lua"; then
            lua "../test.lua"
          fi
          sudo apt remove lua5.3
          
      - name: Lua 5.4 Test
        if: ${{ inputs.lua-version == '5.4' }}
        run: |
          sudo apt -y install lua5.4
          sudo apt -y install lua-filesystem
          sudo apt update
          cd "./__tmp/" && lua "./scan.lua" ".."
          if test -f "../test.lua"; then
            lua "../test.lua"
          fi
          sudo apt remove lua5.4
